<!-- Body html -->
<div class="game-container1">
<img class="dealwithit" src="img/dealwithit.png">
	<div class="rostorvlogo">
		<img src="img/rostorvlogo.png" alt="Ro's Torv Logo">
	</div>
	<div id="menu_login">

			<!-- After Login buttons -->
			<a href="#/map"><img src="img/entergame.png" class="gone1 menu_fade"></a>
			<img src="img/achievements.png" class="gone1 achievement_button menu_fade">
			<p class="gone1 settings menu_fade">Settings <img class="tool" src="img/tool.png"></p>


				<!-- Achievements -->
				<div class="achievementsbg gone4">
					<img src="img/backarrow.png" class="backarrow">
					<div class="scrollable">
						<img src="img/achi_1.png" class="achieve_img">
						<img src="img/achi_2.png" class="achieve_img">
						<img src="img/achi_3.png" class="achieve_img">
						<img src="img/achi_4.png" class="achieve_img">
						<img src="img/achi_5.png" class="achieve_img">
						<img src="img/achi_6.png" class="achieve_img">
						<img src="img/achi_7.png" class="achieve_img">
						<img src="img/achi_8.png" class="achieve_img">
						<img src="img/achi_9.png" class="achieve_img">
						<img src="img/achi_10.png" class="achieve_img">
						<img src="img/achi_11.png" class="achieve_img">
						<img src="img/achi_12.png" class="achieve_img">
						<img src="img/achi_13.png" class="achieve_img">
					</div>
				</div>

					<!-- Settings -->
					<div class="settingsbg gone5">
						<img src="img/backarrow.png" class="backarrow">
					</div>
	</div>

	<!-- Chat bubble from Monkey boy -->
	<img class="bubble bubble_gone1" src="img/whatstheplan.png">
	<img class="monkey" src="img/monkey.png">
</div>

<!-- Custom scrollbar script, keep in document -->
<script>
(function($){
        $(window).on("load",function(){
            $(".scrollable").mCustomScrollbar();
        });
    })(jQuery);

	$(".scrollable").mCustomScrollbar({
    theme:"dark"
});
</script>

<!-- This script must be kept in bottom -->
<script src="js/afterlogin.js"></script>
