<!-- Body html -->
<div class="game-container1">
	<div class="rostorvlogo">
		<img src="img/rostorvlogo.png" alt="Ro's Torv Logo">
	</div>
	<div id="menu_login">


		<!-- Sign in with login information -->
		<img src="img/loginnow.png" class="loginnow noclick menu_fade">
		<form action="/login" method="post">
			<input type="text" name="email" placeholder="NICKNAME" class="menu_fade"></input>
			<input type="password" name="password" placeholder="PASSWORD" class="menu_fade"></input>

			<button type="submit" class="submit-button">Login</button>
		</form>
		<a href="/"><img src="img/cancel.png" class="cancel2 menu_fade"></a>
		<a href="/afterlogin"><img src="img/ok.png" class="ok2 menu_fade"></a>
	</div>
	<img class="bubble bubble_gone" src="img/logintoplay.png">
	<img class="monkey" src="img/monkey.png">
	</div>
<!-- This script must be kept in bottom -->
<script src="js/login.js"></script>
