<!-- Body html -->
<div id="iphone_holder">
<div class="game-container1">
	<div class="rostorvlogo">
		<img src="img/rostorvlogo.png" alt="Ro's Torv Logo">
	</div>
	<div id="menu_login">


		<!-- Sign in with login information -->
		<img src="img/loginnow.png" class="loginnow noclick menu_fade">
		<form ng-submit="login()">
			<input type="text" name="username" placeholder="NICKNAME" class="menu_fade"ng-model="loginForm.username" required>
			<input type="password" name="password" placeholder="PASSWORD" class="menu_fade m2" ng-model="loginForm.password" required>

		<a href="/index"><img src="img/cancel.png" class="cancel2 menu_fade"></a>
		<button type="submit" class="submit-button menu_fade ok2" ng-disabled="disabled"></button>
		</form>
	</div>
	<img class="bubble bubble_gone" src="img/logintoplay.png">
	<img class="monkey" src="img/monkey.png">
	</div>
</div>
<!-- This script must be kept in bottom -->
<script src="js/login.js"></script>
