<!-- Body html -->
<div class="game-container1">
	<div class="rostorvlogo">
		<img src="img/rostorvlogo.png" alt="Ro's Torv Logo">
	</div>
	<div id="menu_login">

		<!-- Sign in with login information -->
		<img src="img/loginnow.png" class="loginnow noclick">
		<input type="text" name="nickname" placeholder="NICKNAME"></input>
		<input type="password" name="phone_number" placeholder="PASSWORD"></input>
	
		<a href="/index"><img src="img/cancel.png" class="cancel2"></a>
		<a href="/afterlogin"><img src="img/ok.png" class="ok2"></a>
	</div>
	<img class="bubble bubble_gone" src="img/logintoplay.png">
	<img class="monkey" src="img/monkey.png">
	</div>
<!-- This script must be kept in bottom -->
<script src="js/games.js"></script>