<!-- Body html -->
<div id="gameinfo">
<h2 class="h2game">Map</h2>
<ul class="pgame">
	<li>Move around Ro's Torv to locate the art pieces</li>
	<li>Being close to an art pieces will allow you to play a game</li>
	<li>You can see your achievements from the map</li>
</ul>

<h2 class="h2game1">Ping Pong</h2>
<ul class="pgame1">
	<li>Clear all the blocks to complete a level</li>
	<li>You have 3 lives</li>
	<li>The ball can only be hit in the bottom area</li>
	<li>Not hitting the monkey ball will cost you a life</li>
	<li>Infinite levels, the more you complete the higher reward</li>
</ul>

<h2 class="h2game2">Water log</h2>
<ul class="pgame2">
	<li>Avoid as many obstacles as you can</li>
	<li>Each one you avoid grants one point</li>
	<li>You move the bird with the bottom control panel</li>
	<li>You only have 1 life.</li>
	<li>Hitting an obstacle will end the game</li>
</ul>

<h2 class="h2game3">Flappy Monkey</h2>
<ul class="pgame3">
	<li>Avoid as many obstacles as you can</li>
	<li>Each one you avoid grants one point</li>
	<li>You move the bird with the bottom control panel</li>
	<li>You only have 1 life.</li>
	<li>Hitting an obstacle will end the game</li>
</ul>

<h2 class="h2game4">Dress up</h2>
<ul class="pgame4">
	<li>You must match the image on the right</li>
	<li>Drag and drop the clothing items</li>
	<li>Press OK when done</li>
	<li>If you got it right you pass the level</li>
	<li>There are infinite levels</li>
</ul>

<div class="game1demo">
<div id="demo">
DEMO
</div>
</div>

<div class="game2demo">
<div id="demo1">
DEMO
</div>
</div>

<div class="game3demo">
<div id="demo2">
DEMO
</div>
</div>
</div>

<div id="games">
	<ul class="gameul">
		<li class="game-icon1"><img src="img/monkeyface.png"> Ping Pong</li>
		<li class="game-icon2"><img src="img/yellow2.png"> Water Log</li>
		<li class="game-icon3"><img src="img/abe2.png"> Flappy Monkey</li>
		<li class="game-icon4"><img src="img/but2.png"> Dress Up</li>
	</ul>
</div>
<div id="gamewrapper">
<div class="game-container5">
<div id="gamedropinfo">
<div id="dropboxbutton">
	<p>Play</p>
</div>
</div>
<div class="dot_wrap">
	<img class="red_dot" src="img/circle_red.png">
	<img class="green_dot" src="img/circle_green.png">
</div>
		<div id="map_buttons">
			<a href="#/afterlogin" class="gone1 menu_fade"><img src="img/button_menu.png"></a>
			<a href="" class="gone1 achievement_button menu_fade"><img src="img/button_achievement.png"></a>
		</div>

		<img src="img/arrow.png" class="arrow">
					<!-- Achievements -->
				<div class="achievementsbg gone4" style="margin:0px;">
					<img src="img/backarrow.png" class="backarrow">
					<div class="scrollable">
						<img src="img/achi_1.png" class="achieve_img">
						<img src="img/achi_2.png" class="achieve_img">
						<img src="img/achi_3.png" class="achieve_img">
						<img src="img/achi_4.png" class="achieve_img">
						<img src="img/achi_5.png" class="achieve_img">
						<img src="img/achi_6.png" class="achieve_img">
						<img src="img/achi_7.png" class="achieve_img">
						<img src="img/achi_8.png" class="achieve_img">
						<img src="img/achi_9.png" class="achieve_img">
						<img src="img/achi_10.png" class="achieve_img">
						<img src="img/achi_11.png" class="achieve_img">
						<img src="img/achi_12.png" class="achieve_img">
						<img src="img/achi_13.png" class="achieve_img">
					</div>
				</div>
</div>
<div class="game1">

	<img class="monkeyright" src="/img/3monkeys.png">
	<img class="cross" src="/img/redcross.png">
	<img class="blocks" src="/img/fullblocks.png">
	<img class="single_box" src="/img/box.png">
	<img class="monkeyhead" src="/img/monkeyhead.png">
	<img class="user_block" src="/img/block.png">
</div>
<div class="game2">
	<p id="score_water">Score: 0</p>
	<img class="waterlog1" src="/img/game_waterlogavoider.png">
	<img class="waterlog2" src="/img/game_waterlogavoider.png">
	<img class="waterlog3" src="/img/game_waterlogavoider.png">
	<img class="waterlog4" src="/img/game_waterlogavoider.png">
	<img class="yellowfish" src="/img/yellowfish.png">
	<img class="waterlog5" src="/img/game_waterlogavoider.png">
	<img class="water_control" src="/img/water_control.png">
</div>
<div class="game4">
	<div id="clothes_container">
		<img class="draggable d_butterfly" src="/img/d_butterfly.png">
		<img class="draggable d_flower" src="/img/d_flower.png">
		<img class="draggable d_glasses" src="/img/d_glasses.png">
		<img class="draggable d_hat" src="/img/d_hat.png">
		<img class="draggable d_snake" src="/img/d_snake.png">
	</div>

	<div id="done_button">
		<img src="/img/done_button.png">
	</div>
	<div id="done_box">
		<h2>Stage 1 Complete</h2>
		<h3>Score : 1337</h3>
		<div id="buttonwrap">
			<a href="#/map"><button class="te button-link">Next</button></a>
			<a href="#/map"><button class="te button-link">End Game</button></a>
		</div>
	</div>
</div>
<div class="game3">
<div id="whitespace"></div>
<div class="game-container4">
	<img class="spike" src="/img/av.png">
	<img class="spike2" src="/img/av.png">
	<img class="spike3" src="/img/av.png">
	<img class="box_spike" src="/img/boks.png">
	<img class="box_2_spike" src="/img/spikebox.png">
	<img class="box_spike1" src="/img/boks.png">
	<img class="box_2_spike1" src="/img/spikebox.png">
	<img class="fugl" src="/img/abefugl.png">
</div>
<div id="whitespace" class="whitenumbertwo"></div>
</div>
</div>

<div id="gameinforight">
<h1 class="fillertag">Technical Documentation</h1>
<h2 class="h2game1">Technical Documentation</h2>
<p class="pgame1">DESCRIPTION</p>

<h2 class="h2game2">Technical Documentation</h2>
<p class="pgame2"></p>

<h2 class="h2game3">Technical Documentation</h2>
<p class="pgame3"></p>

<h2 class="h2game4">Technical Documentation</h2>
<p class="pgame4"></p>
</div>

<!-- Custom scrollbar script, keep in document -->
<script>
(function($){
        $(window).on("load",function(){
            $(".scrollable").mCustomScrollbar();
        });
    })(jQuery);

	$(".scrollable").mCustomScrollbar({
    theme:"dark"
});
</script>
<!-- This script must be kept in bottom -->
<script src="js/afterlogin.js"></script>
<script src="js/games.js"></script>
<script src="js/map.js"></script>
