<!-- Body html -->
<div class="game-container1">
	<div class="rostorvlogo">
		<img src="img/rostorvlogo.png" alt="Ro's Torv Logo">
	</div>
	<div id="menu_register">

		<!-- Register stuff -->
		<form action="/register" method="post">
			<img src="img/signup.png" class="signupimg noclick menu_fade">
			<input type="text" name="email" placeholder="MAIL" class="menu_fade"></input>
			<input type="text" name="phone_number" placeholder="PHONE NUMBER" class="menu_fade"></input>
			<input type="password" name="password" placeholder="PASSWORD" class="menu_fade"></input>
			
		
				<a href="/"><img src="img/cancel.png" class="cancel menu_fade"></a>
				<button type="submit" class="submit-button ok menu_fade"></button>
		</form>
	</div>

	<!-- Chat bubble from Monkey boy -->
	<img class="bubble bubble_gone15" src="img/signupbubble.png">
	<img class="monkey" src="img/monkey.png">
</div>

<!-- This script must be kept in bottom -->
<script src="js/register.js"></script>
