<!-- Body html -->
<div class="game-container1">
	<div class="rostorvlogo">
		<img src="img/rostorvlogo.png" alt="Ro's Torv Logo">
	</div>
	<div id="menu_register">

		<!-- Register stuff -->
		<form ng-submit="register()">
			<img src="img/signup.png" class="signupimg noclick menu_fade">
			<input type="text" name="username" placeholder="USERNAME" class="menu_fade" ng-model="registerForm.username" required>
			<input type="text" name="phone_number" placeholder="PHONE NUMBER" class="menu_fade">
			<input type="password" name="password" placeholder="PASSWORD" class="menu_fade" ng-model="registerForm.password" required>


				<a href="#/"><img src="img/cancel.png" class="cancel menu_fade"></a>
				<button type="submit" class="submit-button ok menu_fade" ng-disabled="disabled"></button>
		</form>
	</div>

	<!-- Chat bubble from Monkey boy -->
	<img class="bubble bubble_gone15" src="img/signupbubble.png">
	<img class="monkey" src="img/monkey.png">
</div>

<!-- This script must be kept in bottom -->
<script src="js/register.js"></script>
