<!-- Body html -->
<div class="game-container1">
	<div class="rostorvlogo">
		<img src="img/rostorvlogo.png" alt="Ro's Torv Logo">
	</div>
	<div id="menu_login">

				<!-- Register stuff -->
				<img src="img/signup.png" class="signupimg noclick">
				<input class="" type="text" name="nickname" placeholder="NICKNAME"></input>
				<input class="" type="text" name="phone_number" placeholder="PHONE NUMBER"></input>
				<input class="" type="password" name="password" placeholder="PASSWORD"></input>
				
				<a href="/index"><img src="img/cancel.png" class="cancel"></a>
				<a href="/afterlogin"><img src="img/ok.png" class="ok"></a>			
	
	</div>
	
	<!-- Chat bubble from Monkey boy -->		
	<img class="bubble" src="img/signupbubble.png">
	<img class="monkey" src="img/monkey.png">
</div>

<!-- This script must be kept in bottom -->
<script src="js/games.js"></script>